.mainButton {
  background-color: var(--text);
  color: var(--background);

  width: 50px;
  height: 50px;

  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

a.primary {
  background: var(--text);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--text);
  min-width: 158px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

.card {
  border-radius: 10px;
  background-color: var(--primary);
}

.card > * {
  color: rgba(var(--text), 0.05);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--text);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--text);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {

}
